<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mapper.FirsttypeMapper">
  <resultMap id="BaseResultMap" type="com.yh.domain.Firsttype">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, first_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from firsttype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from firsttype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yh.domain.Firsttype" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into firsttype (first_name)
    values (#{firstName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yh.domain.Firsttype" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into firsttype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="firstName != null">
        first_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yh.domain.Firsttype">
    <!--@mbg.generated-->
    update firsttype
    <set>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.domain.Firsttype">
    <!--@mbg.generated-->
    update firsttype
    set first_name = #{firstName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查询所有一级类目-->
  <select id="selectAllFirstType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from firsttype
  </select>
</mapper>