<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mapper.MessageMapper">
  <select id="selectAllMessageByGroupSort" resultType="com.yh.domain.Message">
    select m.id,m.title,m.description,m.picUrl,m.url from message m left  join message_group on m.id=m_id and "group"=0 order by sort
  </select>
  <resultMap id="BaseResultMap" type="com.yh.domain.Message">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="picUrl" jdbcType="VARCHAR" property="picurl" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, description, picUrl, url, `status`, keyword
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yh.domain.Message" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into message (title, description, picUrl, 
      url, `status`, keyword
      )
    values (#{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{picurl,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yh.domain.Message" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="picurl != null">
        picUrl,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null">
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yh.domain.Message">
    <!--@mbg.generated-->
    update message
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null">
        picUrl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.domain.Message">
    <!--@mbg.generated-->
    update message
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      picUrl = #{picurl,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>