<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mapper.QrCodeMapper">
  <resultMap id="BaseResultMap" type="com.yh.domain.QrCode">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wx_id" jdbcType="INTEGER" property="wxId" />
    <result column="ticket" jdbcType="VARCHAR" property="ticket" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="expires_in" jdbcType="VARCHAR" property="expiresIn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, wx_id, ticket, create_time, expires_in
  </sql>
  <select id="selectByWxId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  <!--@mbg.generated-->
  select
  <include refid="Base_Column_List" />
  from qr_code
  where wx_id = #{wxId,jdbcType=INTEGER}
</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from qr_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yh.domain.QrCode" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into qr_code (wx_id, ticket, create_time, 
      expires_in)
    values (#{wxId,jdbcType=INTEGER}, #{ticket,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{expiresIn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yh.domain.QrCode" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into qr_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wxId != null">
        wx_id,
      </if>
      <if test="ticket != null">
        ticket,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="expiresIn != null">
        expires_in,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wxId != null">
        #{wxId,jdbcType=INTEGER},
      </if>
      <if test="ticket != null">
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiresIn != null">
        #{expiresIn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByWxIdSelective" parameterType="com.yh.domain.QrCode">
    <!--@mbg.generated-->
    update qr_code
    <set>
      <if test="wxId != null">
        wx_id = #{wxId,jdbcType=INTEGER},
      </if>
      <if test="ticket != null">
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expiresIn != null">
        expires_in = #{expiresIn,jdbcType=VARCHAR},
      </if>
    </set>
    where wx_id = #{wxId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.domain.QrCode">
    <!--@mbg.generated-->
    update qr_code
    set wx_id = #{wxId,jdbcType=INTEGER},
      ticket = #{ticket,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      expires_in = #{expiresIn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>